# Sensitive Environment Variables
.env

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IDE
.idea/

# Uploads
uploads/*
!uploads/.gitkeep

# Docker
docker-compose.override.yml